<div id="counters-container">
    <div class="action-container">

        <input class="action-element" type="radio" name="filter" value="total" [(ngModel)]="selectRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()">
        <p id="total">tot: {{numTotalProducts}}</p>
    </div>
    <div class="action-container">
        <!-- <p id="available">available {{ products.filter(product => product.available === 'yes').length}}</p> -->
        <input class="action-element" type="radio" name="filter" value="available" [(ngModel)]="selectRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()">
        <p id="available">available: {{ numAvailableProducts}}</p>
    </div>
</div>