#counters-container {
  background-color: rgb(168, 255, 255);
  display: flex;
  justify-content: space-around;
}

.action-container {
  display: flex;
  align-items: center;
}

.action-element {
  margin: 0.5rem;
}
