<div class="main-container">
    <app-counters [numTotalProducts]="getNumTotalProducts()" [numAvailableProducts]="getNumAvailableProducts()"
        (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)">
    </app-counters>
    <div *ngFor="let product of products">
        <ul
            *ngIf="productCountRadioButton === 'total'?  productCountRadioButton === 'total': product.available === 'yes' ">
            <app-product [product]="product" (chosenProduct)="showPotentialBuy($event)">
            </app-product>
        </ul>
    </div>
</div>
<div>{{potentialProduct | json}}</div>
<app-cart></app-cart>
<app-form></app-form>